<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. In cum quae eum ex, laborum unde modi tempora quam quasi reprehenderit, saepe assumenda ipsum. Incidunt, nesciunt. Temporibus magni nam architecto aliquid.</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div>