<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker Country Wice</h1>
  <div class="mx-auto">
      <div class="form-group col-lg-5 mx-auto">
          <label for="c">Select country</label>
          <select name="" class="form-control" id="c" #input (change)="updateValues(input.value)">
              <option value={{con}} *ngFor="let con of countryList">{{con}}</option>
          </select>
      </div>
  </div>
<app-dashboard-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalRecovered]='totalRecovered'
    [totalDeaths]='totalDeaths'></app-dashboard-card>

</div>